.sidebar {
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: $white;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 2;
    
    transition: left 0.5s ease;
    &.open-sidebar {
        display: block;
        left: 0;
    }
    .logo {
        max-width: 150px;
        margin-top: 0px;
    }
    .btn-close {
        font-size: 24px;
        position: absolute;
        right: 15px;
        top: 45px;
        &:hover {
            color: $danger;
        }
    }
    .links {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            font-size: 18px;
            font-weight: 600;
            margin-top: 25px;
            a {
                color: $secondary;
                text-decoration: none;
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}